<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ovm.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>ovm.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDAO</servlet-name>
        <servlet-class>ovm.ProductDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>ovm.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsServlet</servlet-name>
        <servlet-class>ovm.GetProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>ovm.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ovm.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetails</servlet-name>
        <servlet-class>ovm.CustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ovm.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>ovm.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartDetailsServlet</servlet-name>
        <servlet-class>ovm.GetCartDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorRegister</servlet-name>
        <servlet-class>ovm.VendorRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/UserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDAO</servlet-name>
        <url-pattern>/ProductDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsServlet</servlet-name>
        <url-pattern>/GetProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetails</servlet-name>
        <url-pattern>/CustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartDetailsServlet</servlet-name>
        <url-pattern>/GetCartDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorRegister</servlet-name>
        <url-pattern>/VendorRegister</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
